<h1>New Movie</h1>
<%= form_with model: @movie, local: true do |movie| %>
	<p>
	<%=movie.label :title%>
	<%=movie.text_field :title%>
	</p>
	<p>
	<%=movie.label :genre%>
	<%=movie.text_field :genre%>
	</p>
	<p>
	<%=movie.label :release_date%>
	<%=movie.text_field :release_date, type:'date'%>
	</p>
	<p>
	<%=movie.label :runtime%>
	<%=movie.text_field :runtime, type:'number'%>
	</p>
	<%=movie.submit%>	
<%end%>
